.toast-container {
    position: fixed;
    top: 3%;
    right: 1%;
    z-index: 999;
    width: 250px;
}

.toast-container .icon {
    margin-right: 10px;
}

.toast-container .toast-success .icon {
    color: var(--green-color);
}

.toast-container .toast-error .icon {
    color: var(--red-color);
}

.toast-container .toast-warning .icon {
    color: var(--theme-main-color);
}