#header .logo {
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    white-space: nowrap;
}

#header .logo a {
    color: var(--theme-main-color);
    margin-right: 15px;
}

#header .logo img {
    max-height: 50px;
}
