#front .time-box {
    padding: 30px 20px;
    border: 1px solid var(--theme-main-color-hover);
    height: 100%;
    text-align: center;
  }
  
  #front .time-box span {
    font-size: 40px;
    line-height: 1;
    color: var(--white-color);
  }
  
  #front .time-box h3 {
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
    line-height: 1;
    font-size: 20px;
    line-height: 30px;
  }
  
  #front .time-box h3,
  #front .expired-box h3 {
    color: var(--white-color);
  }
  
  #front .time-box:hover {
    border-color: var(--theme-main-color-hover);
  }
  #front .no-border .time-box {
    border: none;
  }